<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
 <!--<add name="LabManager_ClientEntities" connectionString="metadata=res://*/LabnetClient_DB.csdl|res://*/LabnetClient_DB.ssdl|res://*/      LabnetClient_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PhanHuy-PC;Initial    Catalog=LabManager_Client;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    
    <add name="LabManager_ClientEntities" connectionString="Data Source=PHANHUY-PC;Initial Catalog=LabManager_Client;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="LabManager_ClientEntities" connectionString="metadata=res://*/LabnetManager_ClientData.csdl|res://*/LabnetManager_ClientData.ssdl|res://*/LabnetManager_ClientData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PhanHuy-PC;Initial Catalog=LabManager_Client;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>