/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background: url("../Images/Header_bg.png") repeat-x;
}
img
{
  border:none;
}
a:link
{
    color: #034af3;
    text-decoration: none;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: red;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
    margin-bottom: 10px;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

.clear
{
    clear: both;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}
.line
{
    width: 90%;
}
.hide
{
    display:none;
}
.Warpper
{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.Header
{
    width: 100%;
    height: 400px;
}

.Logo
{
    width: 1000px;
    margin: 0 auto;
    height: 90px;
    background: url("../Images/Logo.png") no-repeat;
}

.BannerWrapper
{
    width: 1000px;
    height: 308px;
    margin: 0 auto;
    background-color: #36799D;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	behavior: url(/Content/Style/ie-css3.htc);
}
.Banner
{
    width: 650px;
    height: 304px;
    background: url("../Images/Banner.png") no-repeat;
    float: left;
    margin: 2px 0px 0px 2px;
}
.TopMenu
{
    width: 344px;
    height: 305px;
    float: right;
    margin: 2px 2px 0px 0px;
}
.TopMenuItem
{
}

.Content
{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    -moz-box-shadow: 0px 0px 2px 2px #7A7A7A;
    -webkit-box-shadow: 0px 0px 2px 2px #7A7A7A;
    box-shadow: 0px 0px 2px 2px #7A7A7A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background:white;
	behavior: url(/Content/Style/ie-css3.htc);
}
.HomeContent
{
    width: 100%;
    height: auto;
}
.HomeLeftCol
{
    width: 650px;
    float: left;
}

.HomeRightCol
{
    width: 350px;
    float: right;
}

.article
{
    width: 90%;
    margin: 20px auto;
    padding-bottom:20px;
    border-bottom: 1px dotted #7FC9FF;
}
.articleAvatar
{
    float: left;
    width: 180px;
    height: 145px;
}

.aticleSummarize
{
    float: left;
    width: 350px;
}
.articleSummarizeText
{
    width: 100%;
}
.articleTitle
{
    color: #25A2CC;
    font-weight: bold;
    font-size: 14px;
}

.MenuGroup
{
    width: 90%;
    margin: 10px auto;
}

.DatePublish
{
}

.MenuItemLink
{
    margin: 5px 5px 5px 10px;
    color: #25A2CC !important;
    width: 100%;
    display: block;
    text-decoration: underline !important;
}
.MenuItemLink:hover
{
    color: Red !important;
}

#SupportIcon
{
    position: fixed;
    top: 170px;
    left: -4px;
    width: 48px;
    height: 48px;
    background: url("../Images/questionmark.png");
    cursor: pointer;
}
#SupportTable
{
    width: 300px;
    float: right;
    padding-right: 30px;
    display: none;
    position: fixed;
    top: 240px;
    left: 0px;
    background: black;
    z-index: 9999;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color:White;
}

#Footer
{
    clear:both;
    width: 1000px;
    padding: 20px ;
}

    .button
    {
        -webkit-appearance: none;
        -webkit-box-align: center;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 1px 0px;
        -webkit-rtl-ordering: logical;
        -webkit-transition-delay: 0s;
        -webkit-transition-duration: 0s;
        -webkit-transition-property: all;
        -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        -webkit-user-select: none;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #357AE8;
        background-image: -webkit-linear-gradient(top, #4D90FE, #357AE8);
        background-origin: padding-box;
        border-bottom-color: #2F5BB7;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: #2F5BB7;
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: #2F5BB7;
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: #2F5BB7;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-top-style: solid;
        border-top-width: 1px;
        box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 1px 0px;
        box-sizing: border-box;
        color: white;
        display: inline-block;
        font-weight: bold;
        height: 32px;
        line-height: 29px;
        margin-top: 10px;
        padding: 0px 8px 0px 8px;
    }
    .button:hover
    {
        cursor:pointer !important;
        color: #FF5509;
    }
    /********** Div table ************/

.Row
{
    width: 100%;
    height:auto;
    margin: 5px 0px;
    clear: both;
}

.Column
{
    margin: 0 5px;
    height:100%;
    display:table-cell !important; 
    vertical-align:middle!important;
}

.LeftCol
{
    float: left;
    width: 24%;
}

.RightCol
{
    float: right;
    width: 74%;
}

.BothCol
{
    width:100%;
}

/*********Validation Error**********/
.infobox
{
    border: solid 1px #228ef1;
    padding: 5px 8px 5px 8px;
    text-align: left;
    vertical-align: middle;
    background-color: #F1E7D1;
}

.infoimage
{
    padding: 5px 15px 5px 15px;
    background: #F1E7D1 url(../Images/icons/info-24x24.png) no-repeat;
    background-position: left center;
}

.errorbox
{
    background-color: #F5C2A0;
    border: 2px solid red;
    margin: 10px;
    padding: 5px 20px;
    text-align: left;
    vertical-align: middle;
    width: 90%;
}

.errorimage
{
    background: url("../Images/icons/err-16x16.png") no-repeat scroll left center #F5C2A0;
    color: red;
    display: inline-block;
    height: 100%;
    padding: 10px 20px;
    vertical-align: middle;
}

/*************************************************/
/* VALIDATION ERROR*/

.validation-summary-errors
{
    padding: 1.5em;
    margin: 0 auto;
    background-color: #ffffdf;
    border: 1px solid #df6b6b;
    color: #dc3535;
    width: 93%;
}


.LeftMenu
{
    float: left;
    width: 95%;
    padding-left: 10px;
    height: 200px;
    -moz-box-shadow: 2px 0px 3px 3px #7A7A82;
    -webkit-box-shadow: 2px 0px 3px 3px #7A7A82;
    box-shadow: 2px 0px 3px 3px #7A7A82;
    -webkit-border-radius: 0px 25px 0px 0px;
    -moz-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
}
.LeftMenu ul
{
    padding-left: 20px;
    list-style-image: url('../Images/iconArrow.png');
}
.LeftMenu ul li
{
    padding: 3px;
}
.Title
{
    text-align:center;
    padding-top:15px; 
    font-size:25px;
    margin-bottom:10px;
    padding-bottom:0px;
}
.MenuTitle
{
    padding-left: 30px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}
.ColumnLabel
{
    display:block;
    font-weight:bold;
}

.lbTitle
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 110px;
}