.Width100
{
    width:100px;
}
.Width110
{
    width:110px;
}
.Width120
{
    width:120px;
}
.Width130
{
    width:130px;
}
.Width140
{
    width:140px;
}
.Width150
{
    width:150px;
}
.Width200
{
    width:200px;
}
.Width250
{
    width:250px;
}
.Width300
{
    width:300px;
}
.Width350
{
    width:350px;
}
.Width400
{
    width:400px;
}
.Width450
{
    width:450px;
}
.Width500
{
    width:500px;
}
.Width550
{
    width:250px;
}
.Width600
{
    width:300px;
}
.Width650
{
    width:350px;
}
.Width700
{
    width:400px;
}
.Width750
{
    width:450px;
}
.Width800
{
    width:500px;
}

.MarginAuto
{
    margin:0 auto;
}
.MarginL5
{
    margin-left:5px;
}

.MarginL10
{
    margin-left:10px;
}

.MarginL15
{
    margin-left:15px;
}

.MarginL20
{
    margin-left:20px;
}

.MarginT5
{
    margin-top:5px;
}

.MarginT10
{
    margin-top:10px;
}

.MarginT15
{
    margin-top:15px;
}

.MarginT20
{
    margin-top:20px;
}
.textInput
{
    width:200px;
    padding:3px;
}
.textInput50
{
    width:50px;
    padding:3px;
}
.textInput100
{
    width:100px;
    padding:3px;
}
.textInput150
{
    width:150px;
    padding:3px;
}