<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LabManager_ClientEntities" connectionString="metadata=res://*/LabnetManager_ClientData.csdl|res://*/LabnetManager_ClientData.ssdl|res://*/LabnetManager_ClientData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=27.0.12.120;Initial Catalog=nhmamnnk_LabnetManager;Persist Security Info=True;User ID=nhmamnnk_labnetmanager;Password=admin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>