/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background: url("../Images/HeaderBG.png") repeat-x;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
    margin-bottom: 10px;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

.clear
{
    clear: both;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

.Warpper
{
    width: 1200px;
    background: url("../Images/WrapperBG.png") no-repeat;
    height: 300px;
    margin: 0 auto;
}

.Page
{
    width: 1000px;
    margin: 0 auto;
}

.Header
{
    width: 100%;
    height: 225px;
    position: relative;
}

.Banner
{
    width: 770px;
    height: 225px;
    background: url("../Images/Banner.png") no-repeat;
    left: 200px;
    top: 100px;
    position: absolute;
}

.Content
{
    width: 100%;
    border-left: 1px solid #87CEDB;
    border-right: 1px solid #87CEDB;
}
#MainContent
{
    width: 78%;
    float: right;
    margin-top: 90px;
    margin-bottom: 50px;
}
#Middle_Line
{
    float: left;
    width: 1px;
    height: 400px;
    border-left: 1px solid #CBCBCB;
    margin: 90px 5px;
}
/*-----------------Menu-----------------------------*/
.LeftMenu
{
    width: 20%;
    float: left;
    height: 300px;
}

.LeftMenu ul
{
    list-style: none;
    padding-left: 20px;
    margin: 0px;
}

.LeftMenu .MenuTitle
{
    color: #636363;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    margin-top: 40px;
}

.LeftMenu a.MenuItem
{
    background: url("../Images/iconArrow.png") no-repeat scroll 0 3px transparent;
    text-decoration: none;
    color: #3962A7;
    padding-left: 5px;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 25px;
    padding-left: 20px;
}

.LeftMenu a.MenuItem:hover
{
    color: red;
}

dd
{
    padding-bottom: 10px;
    margin: 0px;
}

dt
{
    margin: 0px;
    padding-top: 10px;
    margin-left: 5px;
}
dt a
{
    text-decoration: none !important;
    color: #636363 !important;
    font-size: 15px;
    padding-left: 40px;
    height: 32px;
    display: block;
    padding-top: 7px;
}

.iconReport
{
    background: url("../Images/iconReport_32.png") no-repeat transparent;
}

.iconPatient
{
    background: url("../Images/iconPatient_32.png") no-repeat transparent;
}

.iconLab
{
    background: url("../Images/iconLab_32.png") no-repeat transparent;
}

.iconPXN
{
    background: url("../Images/iconPXN_32.png") no-repeat transparent;
}
/*-----------------Menu-----------------------------*/
/********** Div table ************/

.Row
{
    width: 100%;
    height: auto;
    margin: 5px 0px;
    clear: both;
}

.Column
{
    margin: 0 5px;
    height: 100%;
    display: table-cell !important;
    vertical-align: middle !important;
}

.LeftCol
{
    float: left;
    width: 48%;
}

.RightCol
{
    float: right;
    width: 48%;
}

.BothCol
{
    width: 100%;
}

/********** Module Style *************/
.Module
{
    margin-left: 10px;
    clear: both;
}
.ModuleTitle
{
    margin-bottom: 10px;
}
.Title
{
    font-size: 24px;
    color: #3962A7;
}
.lbTitle
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 110px;
}
/*********Validation Error**********/
.infobox
{
    border: solid 1px #228ef1;
    padding: 5px 8px 5px 8px;
    text-align: left;
    vertical-align: middle;
    background-color: #F1E7D1;
}

.infoimage
{
    padding: 5px 15px 5px 15px;
    background: #F1E7D1 url(../Images/icons/info-24x24.png) no-repeat;
    background-position: left center;
}

.errorbox
{
    background-color: #F5C2A0;
    border: 2px solid red;
    margin: 10px;
    padding: 5px 20px;
    text-align: left;
    vertical-align: middle;
    width: 90%;
}

.errorimage
{
    background: url("../Images/icons/err-16x16.png") no-repeat scroll left center #F5C2A0;
    color: red;
    display: inline-block;
    height: 100%;
    padding: 10px 20px;
    vertical-align: middle;
}

/*************************************************/
/* VALIDATION ERROR*/

.validation-summary-errors
{
    padding: 1.5em;
    margin: .5em 0px .5em 0px;
    background-color: #ffffdf;
    border: 1px solid #df6b6b;
    color: #dc3535;
    width: 91%;
}

validation-summary-errors ul
{
    margin: 0;
    padding: 0;
    margin-left: 80px;
    list-style: square;
}

.hide
{
    display: none;
}

.editLink
{
    background: url('Icon/Edit.gif') 0px 5px no-repeat;
    padding: 8px;
    margin: 5px;
}

.deleteLink
{
    background: url('Icon/iconDelete.gif') 0px 5px no-repeat;
    margin: 5px;
    padding: 8px;
}

.line
{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-bottom: 1px solid #CCC;
    height: 15px;
}
select, textarea
{
    margin: 5px 0px;
}

input[type='button'], input[type='submit']
{
    padding: 5px 20px;
    margin: 5px;
}

.HightLight, .Red
{
    color: Red !important;
}
.Bold
{
    font-weight: bold;
}
.Medium
{
    font-size: medium;
}

.Larger
{
    font-size: larger;
}
.Large
{
    font-size: large;
}
