<?xml version="1.0" encoding="utf-8" ?>

<log4net>

  <appender name="DebugLogFile" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="Logs\LabnetServer.Log" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value=".yyyy-MM-dd.lo\g" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="StaticLogFileName" value="false" />

    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" type="log4net.Util.PatternString" value="-----------------------%date-----------------------&#13;&#10;"/>
      <param name="Footer" value="-----------------------------&#13;&#10;"/>
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %logger - %m%n%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
  
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
  </root>
  
  <logger name="WebService">
    <level value="ALL" />
    <appender-ref ref="TraceAppender" />    
  </logger>
  
  <logger name="Database">
    <level value="ALL" />
    <appender-ref ref="TraceAppender" />
  </logger>
  
  <logger name="DebugLogger">
    <level value="ALL" />
    <appender-ref ref="DebugLogFile" />
  </logger>
</log4net>

